<mat-card>
  <mat-spinner *ngIf="estaCarregando"></mat-spinner>
  <!-- template driven form -->
  <form [formGroup]="form" (submit)="onSalvarCliente()" *ngIf="!estaCarregando" >
    <mat-form-field>
      <input 
        required 
        minlength="4" 
        type="text"  
        matInput 
        placeholder="nome" 
        name="nome"
        formControlName="nome" 
       
      />
      <mat-error *ngIf="form.get('nome')?.invalid">Digite um nome válido</mat-error>
    </mat-form-field>

    <div>
      <button (click)="selecionaArquivo.click()" mat-stroked-button type="button">Selecionar Imagem</button>
      <input (change)="onImagemSelecionada($event)" type="file" #selecionaArquivo>
    </div>
    <div class="imagem-preview">
      <img [src]="previewImagem" *ngIf="form.get('imagem').valid && previewImagem && previewImagem !== ''" [alt]="form.value.nome">
    </div>

    <mat-form-field>
      <input 
        required 
        type="text"  
        matInput 
        placeholder="fone" 
        name="fone"
        formControlName="fone"
      />
      <mat-error *ngIf="form.get('fone')?.invalid">Digite um telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input 
        required 
        type="text"  
        matInput 
        placeholder="email" 
        name="email"
        formControlName="email"
      />
        <mat-error *ngIf="form.get('email')?.invalid">Digite um email válido</mat-error>
    </mat-form-field>

    <button color="accent" mat-raised-button>
      Salvar Cliente
    </button>
  </form>
</mat-card>
